.contact-section{

    width:100%;

    padding:90px 6%;


    background:
    
    url("../assets/images/drone.png");


    background-size:cover;

    background-position:center;

}



.contact-container{

    background:white;

    padding:60px;

    border-radius:35px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:50px;


    box-shadow:
    0 15px 40px rgba(0,0,0,0.08);

}



/* left side */


.contact-tag{

    color:#2e8b57;

    font-weight:600;

    letter-spacing:2px;

}



.contact-left h1{

    margin-top:20px;

    font-size:45px;

    color:#222;

}


.contact-left h1 span{

    color:#2e8b57;

}



.contact-left > p{

    margin-top:20px;

    color:#666;

    font-size:17px;

    line-height:1.6;

}




/* contact info */


.contact-info{

    margin-top:35px;

}



.info-box{

    display:flex;

    align-items:center;

    gap:20px;

    margin-bottom:25px;

}



.info-box svg{

    width:45px;

    height:45px;

    padding:12px;

    border-radius:50%;

    background:#e8f5e9;

    color:#2e8b57;

}



.info-box h3{

    color:#222;

}



.info-box p{

    color:#666;

}



/* form */


.contact-form{

    background:#f8fbf8;

    padding:35px;

    border-radius:25px;

}



.contact-form h2{

    margin-bottom:25px;

}



.contact-form input,
.contact-form textarea{


    width:100%;

    padding:15px;

    margin-bottom:18px;

    border-radius:12px;

    border:1px solid #ddd;

    outline:none;

    font-size:15px;

}



.contact-form textarea{

    height:120px;

    resize:none;

}



.contact-form button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#2e8b57;

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:0.3s;

}



.contact-form button:hover{

    background:#256d45;

}



/* responsive */


@media(max-width:900px){

    .contact-container{

        grid-template-columns:1fr;

    }

}